In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/home/yogeshsaini/ml Projects/WatchPrice/data/smartwatches.csv')

In [52]:
df.head()

,index,Brand,Current Price,Original Price,Discount Percentage,Rating,Number OF Ratings,Model Name,Dial Shape,Strap Color,Strap Material,Touchscreen,Battery Life (Days),Bluetooth,Display Size,Weight,New Column,0
0,0,noise,82990.0,89900.0,7.686318,4.0,65.0,Wrb-sw-colorfitpro4alpha-std-rgld_pnk,NaN,NaN,NaN,NaN,8.0,Yes,NaN,35 - 50 g,0,0
1,1,fire-boltt,3799.0,16999.0,77.651627,4.3,20788.0,BSW046,NaN,NaN,Silicon,Yes,3.5,Yes,1.8 inches,50 - 75 g,1,1
2,2,boat,1999.0,7990.0,74.981227,3.8,21724.0,Wave Call,NaN,NaN,Silicon,Yes,8.0,Yes,1.7 inches,35 - 50 g,2,2
3,3,fire-boltt,1799.0,19999.0,91.004550,4.3,13244.0,BSW053,NaN,NaN,Silicon,Yes,3.5,Yes,1.8 inches,75g +,3,3
4,4,noise,1599.0,4999.0,68.013603,4.1,13901.0,Wrb-sw-colorfitpulsegobuzz-std-blk_blk,NaN,NaN,Other,Yes,8.0,Yes,1.7 inches,35 - 50 g,4,4

In [67]:


# Remove the last two columns using drop
df = df.drop(df.columns[-2:], axis=1)

In [69]:
# Unnamed : 0 (remove)
df.shape
df.head()

,index,Unnamed: 0,Brand,Current Price,Original Price,Discount Percentage,Rating,Number OF Ratings,Model Name,Dial Shape,Strap Color,Strap Material,Touchscreen,Battery Life (Days),Bluetooth
0,0,0,noise,82990.0,89900.0,7.686318,4.0,65.0,Wrb-sw-colorfitpro4alpha-std-rgld_pnk,NaN,NaN,NaN,NaN,8.0,Yes
1,1,1,fire-boltt,3799.0,16999.0,77.651627,4.3,20788.0,BSW046,NaN,NaN,Silicon,Yes,3.5,Yes
2,2,2,boat,1999.0,7990.0,74.981227,3.8,21724.0,Wave Call,NaN,NaN,Silicon,Yes,8.0,Yes
3,3,3,fire-boltt,1799.0,19999.0,91.004550,4.3,13244.0,BSW053,NaN,NaN,Silicon,Yes,3.5,Yes
4,4,4,noise,1599.0,4999.0,68.013603,4.1,13901.0,Wrb-sw-colorfitpulsegobuzz-std-blk_blk,NaN,NaN,Other,Yes,8.0,Yes

In [70]:
df.drop_duplicates(inplace=True)

In [71]:
# Unnamed : 0 (remove)
df.shape

(450, 15)

In [72]:
train_def = df.sample(frac=0.8, random_state=42)

In [73]:
train_def = train_def.reset_index(drop=True)

In [74]:
train_def = train_def.reset_index(drop=True)

In [75]:
test_df = df.drop(train_def.index)

In [76]:
train_def.dtypes

index                    int64
Unnamed: 0               int64
Brand                   object
Current Price          float64
Original Price         float64
Discount Percentage    float64
Rating                 float64
Number OF Ratings      float64
Model Name              object
Dial Shape              object
Strap Color             object
Strap Material          object
Touchscreen             object
Battery Life (Days)    float64
Bluetooth               object
dtype: object

In [77]:
train_def.isnull().sum()

index                    0
Unnamed: 0               0
Brand                    0
Current Price            6
Original Price          56
Discount Percentage     56
Rating                   4
Number OF Ratings       45
Model Name              30
Dial Shape             100
Strap Color            100
Strap Material          56
Touchscreen             31
Battery Life (Days)     30
Bluetooth                5
dtype: int64

In [78]:
train_def.info

<bound method DataFrame.info of      index  Unnamed: 0       Brand  Current Price  Original Price  \
0      407         407   zebronics         2949.0          4199.0
1      444         444  fire-boltt         6999.0         15999.0
2      117         117  fire-boltt         2499.0         11999.0
3       30          30        boat         1999.0          7990.0
4      415         415  fire-boltt         2299.0          5999.0
..     ...         ...         ...            ...             ...
355    216         216      fitbit        11699.0         14999.0
356    279         279      garmin        39490.0         44990.0
357    390         390   zebronics         2199.0          4999.0
358    337         337     gizmore         1199.0          4499.0
359    236         236      fitbit        20499.0             NaN

     Discount Percentage  Rating  Number OF Ratings  \
0              29.768993     3.1               10.0
1              56.253516     2.6                NaN
2              79.173264     4.1             1990.0
3              74.981227     3.6              827.0
4              61.676946     2.5               24.0
..                   ...     ...                ...
355            22.001467     4.3             3999.0
356            12.224939     4.7              109.0
357            56.011202     3.9              272.0
358            73.349633     4.7                NaN
359                  NaN     4.7                NaN

                                            Model Name Dial Shape Strap Color  \
0                                      LEATHER fit-650       Oval       Black
1                                               bsw020     Circle       Brown
2                                               BSW070        NaN         NaN
3                                                  NaN        NaN         NaN
4                                        NINJA PRO MAX     Square        Blue
..                                                 ...        ...         ...
355                                            Versa 2     Square       Black
356  Instinct 2, Rugged Outdoor Watch with GPS, Bui...     Circle        Grey
357                                         Zeb-Fit Me     Square       Green
358  GizFit CLOUD 1.85 IPS Large Display | AI Voice...     Square        Blue
359  Fitbit Versa 4 Fitness Watch (Waterfall Blue /...     Curved        Blue

                  Strap Material Touchscreen  Battery Life (Days) Bluetooth
0                        Leather         Yes                  NaN       Yes
1                        Silicon         Yes                  8.0       Yes
2                            NaN         Yes                  8.0       Yes
3                            NaN         NaN                  8.0       Yes
4                        Silicon         Yes                 22.0       Yes
..                           ...         ...                  ...       ...
355                      Silicon         Yes                  3.5       Yes
356                      Silicon          No                 17.5       Yes
357  Thermo Plastic Polyurethene         Yes                 22.0       Yes
358                      Silicon         Yes                 22.0       Yes
359                       Rubber         Yes                 22.0       Yes

[360 rows x 15 columns]>

In [79]:
numerical_data = [feature for feature in train_def.columns if train_def[feature].dtype != 'object' ]

In [80]:
continuous_data = [feature for feature in train_def.columns if train_def[feature].dtype == 'object' ]

In [81]:

numerical_data, continuous_data

(['index',
  'Unnamed: 0',
  'Current Price',
  'Original Price',
  'Discount Percentage',
  'Rating',
  'Number OF Ratings',
  'Battery Life (Days)'],
 ['Brand',
  'Model Name',
  'Dial Shape',
  'Strap Color',
  'Strap Material',
  'Touchscreen',
  'Bluetooth'])

In [82]:
train_def[numerical_data].describe()

,index,Unnamed: 0,Current Price,Original Price,Discount Percentage,Rating,Number OF Ratings,Battery Life (Days)
count,360.000000,360.000000,354.000000,304.000000,304.000000,356.000000,315.000000,330.000000
mean,222.702778,222.702778,12514.378531,14415.835526,47.955347,4.027528,10671.815873,14.181970
std,130.632905,130.632905,16914.978666,15613.457236,24.696899,0.556828,27575.956948,7.661878
min,0.000000,0.000000,1199.000000,1669.000000,-79.688436,1.000000,1.000000,0.750000
25%,111.750000,111.750000,2126.000000,5999.000000,33.177427,3.900000,55.000000,8.000000
50%,222.500000,222.500000,3999.000000,7994.500000,53.068408,4.100000,830.000000,17.500000
75%,336.250000,336.250000,17367.250000,17996.000000,66.677780,4.300000,7576.500000,22.000000
max,448.000000,448.000000,98990.000000,96390.000000,91.004550,5.000000,275607.000000,22.000000

In [83]:
test_df[continuous_data].describe()

,Brand,Model Name,Dial Shape,Strap Color,Strap Material,Touchscreen,Bluetooth
count,90,90,90,90,90,90,90
unique,4,77,5,18,6,1,1
top,fire-boltt,ring,Square,Black,Silicon,Yes,Yes
freq,39,5,53,39,67,90,90